html {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
}

.div1 {height:700px;
  background-size: 100%;
  background-image: linear-gradient(#eaf0fb, #A9E4D7);
}

span {
  font-size: 90px;
}

.div2 {
  background-image: linear-gradient(#5089C6, #001E6C);
}

h1 {
  font-size: 80px;
  margin: 0;
  padding-top: 20px;
  color: #1DB9C3;
  font-family: 'Bonheur Royale', cursive;
}

h2 {
  font-size: 40px;
}

p {display: inline-block;
  width:70%;
  font-family: 'Gluten', cursive;
  font-size: 25px;
  color: #112031;
}

.cloud1 {
  height: 200px;
  position: absolute;
  left: 10%;
  top: 120px;
}

.cloud2 {
  height: 110px;
  position: absolute;
  right: 5%;
  top: 60px;
}

.cloud3 {
  height: 160px;
  position: absolute;
  right: 15%;
  top: 270px;
}

.pirate {
  height: 450px;
  margin-top: 50px;
  position: relative;
}

.botdiv {
  background-color: black;
}

.pirate:hover {
  height: 460px;
  transition: .5s ease;
}

.titles {
  font-family: 'Acme', sans-serif;
  color: #152D35;
  font-size: 60px;
}

a:hover {
  font-size: 18px;
  transition: .5s ease;
}

.skills {  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: inherit;
}
.bottomtextcolor{ color:#54E346; line-height: 1.5em;}
.hbottomcolor{color:#7FFF00; font-weight: lighter;}
